{
  "presets": [
    [
      "env",
      { "modules": false }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",    
    "react-hot-loader/babel",
    "transform-async-to-generator",
    "transform-class-properties"
  ],
  "env": {
    "modules": false
  }
}