:root {
    --width: 870px;

    /* fonts */
    --title: 'PT Serif', 'Georgia';
    --text: 'Roboto', 'Arial';

    /* colors */
    --border: #f5f5f5;
    --active-border: #adffda;

    --font-smooth: {
        font-smoothing: antialiased;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    };

    --transition: {
        transition: all 0.3s ease;
    };
}