@import url('https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,900');

@import "../../public/css/variables.pcss";

body {
  font-family: var(--text);
}

.app {
  width: 820px;
  margin: 40px auto;
  font-family: var(--text);
}

.content {
  width: 100%;
}