body {

}

.app {
    background-image: url("./photo_2016-12-08_12-18-24.jpg");
    height: 300px;
    width: 300px;
    background-size: cover;
    display: flex;
}

.menu {
    display: flex;
    background: bisque;
}