@import "../../styles/variables.css";

.header {
  & .menu {
    list-style: none;
    padding: 0;

    & li {
      display: inline-block;
      margin-right: 15px;
      font-size: 13px;

      & a {
        &.active {
          color: red;
          text-decoration: none;
        }
      }
    }
  }
}

